#github
passwd

# KDevelop
*.kdev4

# Compiled Object files
*.o
*.dep

# Application files
backertrap-ada
backertrap-ada.eep
backertrap-ada.elf
backertrap-ada.hex
backertrap-ada.lss
backertrap-ada.sym
